<div class="w3-card-4 w3-quarter">
    <header class="w3-container w3-green">
        <div class="w3-left w3-padding-16" style="font-size: 3.5em">
            <i class="fa fa-money fa-lg" aria-hidden="true"></i>
        </div>
        <div class="w3-right w3-padding-16">
            <h1><%= project.name %></h1>
        </div>
    </header>

    <div class="w3-container">
        <p>Lorem ipsum...</p>
    </div>

    <footer class="w3-container w3-green">
        <br />
    </footer>
</div>
