<div class="w3-card-4 w3-display-middle">
    <header class="w3-container w3-green">
        <h1>Login</h1>
    </header>

    <form class="w3-container w3-padding" action="/users/login" method="POST">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Enter Email" />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter Password" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>

    <footer class="w3-container w3-green">
        <%- include ('./partials/messages') %>
        <p>back to <a href="/">home</a></p>
    </footer>
</div>
