<div class="w3-display-middle">

  <div class="w3-card-4">

    <header class="w3-container w3-green">
      <h1>Welcome!</h1>
    </header>

    <div class="w3-container">
      <p>Create an account or login</p>
      <ul>
        <li>
            <a href="/users/register">Register</a>
        </li>
        <li>
            <a href="/users/login"> Login</a>
        </li>
      </ul>      
    </div>

    <footer class="w3-container w3-green">
        <p>kiro7shiro 2023</p>
    </footer>

  </div>

</div>